* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: Century Gothic, sans-serif;
}

canvas {
    z-index: 1;
}



#protect {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}


img {
    filter: brightness(50%);
}

a {
    color: red;
}

#d {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    width: 30vw;
    height: 100vh;
    background-color: black;
    overflow-y: auto;
}

#help {
    color: white;
}

td {
    border: 1vh solid white;
}

table { 
    width: 100%;
}

@media screen and (orientation:portrait) {
    img {
        display: inline-block;
        width: 7.1428571428571428571428571428571vw;
    }
    #protect {
        color: white;
        text-align: center;
        font-size: 3vw;
    }
    #holder {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
    #help {
        position: absolute; 
        top: 0;
        right: 0;
        width: 30vw;
        height: 15vw;
        overflow-y: auto;
        font-size: 1vw;
        z-index: 5;
    }
    #h {
        position: absolute; 
        right: 0;
        bottom: 0;
        background-image: url("/gfx/q.png");
        background-size: cover;    
        width: 5vw;
        height: 5vw;
        z-index: 5;
    }
    #s {
        color: black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 30vw;
        height: 30vw;
        border: 0.5vw solid white;
        background-color: black;
        border-radius: 10%;
    }
    button {
        border-radius: 10%;
        width: 20vw;
        height: 10vw;
        font-size: 2vw;
    }
    input {
        width: 20vw;
        height: 2vw;
        font-size: 2vw;
    }
    td {
        border: 0.5vw solid white;
    }
}

@media screen and (orientation:landscape) {
    img {
        display: inline-block;
        width: 7.1428571428571428571428571428571vh;
    }
    #holder {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vh;
        transform-origin: top left;
        transform: rotate(90deg) translate(0,-100%);
        text-align: center;
    }
    #protect {
        color: white;
        text-align: center;
        font-size: 3vh;
    }
    #s {
        color: black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 30vh;
        height: 30vh;
        border: 0.5vh solid white;
        background-color: black;
        border-radius: 10%;
    }
    #h {
        position: absolute;
        background-image: url("/gfx/q.png");
        background-size:  cover;    
        right: 0;
        bottom: 0;
        width: 5vh;
        height: 5vh;
        z-index: 5;
    }
    td {
        border: 0.5vh solid white;
    }
    #help {
        position: absolute; 
        top: 0;
        right: 0;
        font-size: 1vh;
        width: 30vh;
        height: 15vh;
        overflow-y: auto;
        z-index: 5;
    }
    button {
        border-radius: 10%;
        font-size: 2vh;
        width: 20vh;
        height: 10vh;
    }
    input {
        width: 20vh;
        height: 2vh;
        font-size: 2vh;
    }
}

.avilable {
    filter: brightness(100%);
}

#selected {
    transform: translate(0,-20%);
}

